.list-heading {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.table-holder {
    width: 70%;
    margin: auto;
    .filter-holder {
        padding-left: 15px;
        padding-top: 15px;
        padding-right: 15px;
        width: 300px;
        .filter-input {
            width: 300px;
        }
    }
    table {
        width: 100%;
        .view-hero {
            background-color: #009ADA;
            color: #fff;
        }
    }
    .paginator {
        margin-bottom: 30px;
    }
}