<br>
<br>
<div class="mat-elevation-z8 table-holder">
    <mat-form-field class='filter-holder'>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" class='filter-input'>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="dollar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> US Dollar (USD) </th>
            <td mat-cell *matCellDef="let element"> {{element.dollar}} </td>
        </ng-container>
        <ng-container matColumnDef="pound">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> British Pound (GBP) </th>
            <td mat-cell *matCellDef="let element"> {{element.pound}} </td>
        </ng-container>
        <ng-container matColumnDef="euro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Euro (EUR) </th>
            <td mat-cell *matCellDef="let element"> {{element.euro}} </td>
        </ng-container>
        <ng-container matColumnDef="yen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Japanese Yen (JPY) </th>
            <td mat-cell *matCellDef="let element"> {{element.yen}} </td>
        </ng-container>
        <ng-container matColumnDef="rand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> South African Rand (ZAR) </th>
            <td mat-cell *matCellDef="let element"> {{element.rand}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab mat-raised-button color="primary" (click)='viewHistory(element.symbol)' class='view-history' aria-label="View history for Crypto Currency">
                  <mat-icon>menu</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<!-- <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>US Dollar (USD)</th>
                    <th>British Pound (GBP)</th>
                    <th>Euro (EUR)</th>
                    <th>Japanese Yen (JPY)</th>
                    <th>South African Rand (ZAR)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bitcoin</td>
                    <td>{{OverviewData.BTC.USD}}</td>
                    <td>{{OverviewData.BTC.GBP}}</td>
                    <td>{{OverviewData.BTC.EUR}}</td>
                    <td>{{OverviewData.BTC.JPY}}</td>
                    <td>{{OverviewData.BTC.ZAR}}</td>
                </tr>
                <tr>
                    <td>Etherium</td>
                    <td>{{OverviewData.ETH.USD}}</td>
                    <td>{{OverviewData.ETH.GBP}}</td>
                    <td>{{OverviewData.ETH.EUR}}</td>
                    <td>{{OverviewData.ETH.JPY}}</td>
                    <td>{{OverviewData.ETH.ZAR}}</td>
                </tr>
                <tr>
                    <td>XRP</td>
                    <td>{{OverviewData.XRP.USD}}</td>
                    <td>{{OverviewData.XRP.GBP}}</td>
                    <td>{{OverviewData.XRP.EUR}}</td>
                    <td>{{OverviewData.XRP.JPY}}</td>
                    <td>{{OverviewData.XRP.ZAR}}</td>
                </tr>
                <tr>
                    <td>Litecoin</td>
                    <td>{{OverviewData.LTC.USD}}</td>
                    <td>{{OverviewData.LTC.GBP}}</td>
                    <td>{{OverviewData.LTC.EUR}}</td>
                    <td>{{OverviewData.LTC.JPY}}</td>
                    <td>{{OverviewData.LTC.ZAR}}</td>
                </tr>
                <tr>
                    <td>Bitcoin Cash</td>
                    <td>{{OverviewData.BCH.USD}}</td>
                    <td>{{OverviewData.BCH.GBP}}</td>
                    <td>{{OverviewData.BCH.EUR}}</td>
                    <td>{{OverviewData.BCH.JPY}}</td>
                    <td>{{OverviewData.BCH.ZAR}}</td>
                </tr>
                <tr>
                    <td>Etherium Classic</td>
                    <td>{{OverviewData.ETH.USD}}</td>
                    <td>{{OverviewData.ETH.GBP}}</td>
                    <td>{{OverviewData.ETH.EUR}}</td>
                    <td>{{OverviewData.ETH.JPY}}</td>
                    <td>{{OverviewData.ETH.ZAR}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->
