<mat-toolbar style='box-shadow: 0 2px 15px 0 #333;'>
    <span style='display: block; width: 100%; text-align: center;'>Crypto Currency Dashboard</span>
</mat-toolbar>
<section class="container">
    <router-outlet></router-outlet>
</section>
