<div class="chart-wrapper">
    <br>
    <br>
    <br>
    <h1>{{crypto}} History</h1>
    <div class="group-controls">
        <form *ngIf='ControlsForm' [formGroup]='ControlsForm'>
            <mat-form-field appearance="" *ngIf='timeFrames'>
                <mat-label>Timeframe</mat-label>
                <mat-select [(value)]='timeframe'>
                    <mat-option *ngFor="let t of timeFrames" [value]='t.value'>
                        {{t.type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="" *ngIf='currencies'>
                <mat-label>Currency</mat-label>
                <mat-select [(value)]='currency'>
                    <mat-option *ngFor="let c of currencies" [value]='c'>
                        {{c}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="" *ngIf='limits'>
                <mat-label>Limits</mat-label>
                <mat-select [(value)]='limit'>
                    <mat-option *ngFor="let l of limits" [value]='l'>
                        {{l}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp; &nbsp; &nbsp;
            <button mat-mini-fab mat-raised-button color="primary" (click)='update()'>
          <mat-icon>update</mat-icon>
        </button>
        </form>
    </div>
    <div>{{timeframe == 'histoday' ? 'Daily' : timeframe == 'histohour' ? 'Hourly' : 'Minute'}} | {{currency}} | {{limit}}</div>
    <canvas class='canvas' height="100" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
  </canvas>
</div>
